#cloud-config
package_update: true
packages:
  - python3
  - python3-pip
  - python3-vlc
  - python3-requests
  - pulseaudio-utils
  - vlc

users:
  - name: radio
    groups: [audio, video]
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL


write_files:
  - path: /home/radio/.bashrc
    content: |
      export PULSE_SERVER=unix:/mnt/pulse-socket
      export PULSE_COOKIE=/mnt/pulse-cookie
      
  - path: /etc/systemd/system/python-radio-app.service
    content: |
      [Unit]
      Description=Radio python app
      After=network.target

      [Service]
      # Uruchamiamy jako użytkownik radio, nie root!
      User=radio
      Group=radio
      ExecStart=/usr/bin/python3 /mnt/app/app.py
      Restart=always
      Environment=HOME=/home/radio


      # Key additions for Audio:
      # Environment=PULSE_SERVER=unix:/mnt/pulse-socket
      # Environment=PULSE_COOKIE=/mnt/pulse-cookie
      # Environment=HOME=/home/radio

      [Install]
      WantedBy=multi-user.target

runcmd:
  - chown -R radio:radio /mnt/app
  - systemctl daemon-reload
  - systemctl enable python-radio-app.service
  # Nie startujemy usługi od razu, bo folder /mnt/app pojawi się za chwilę
  # Pętla czekająca na pojawienie się pliku z hosta
  - [ sh, -c, "until [ -f /mnt/app/app.py ]; do sleep 2; done && systemctl start python-radio-app.service" ]
